$white-color:#fff;
$black-color:#000;
$dark-blue-color:#0d1119;
$green-color:#a2ca28;
$orange-color:#fd634e;
$gray-color:#656e74;
$linked-color:#171a8f;
$twitter-color:#00aeef;
$facebook-color:#2e3192;
$youtube-color:#ed3123;


%transition3 {
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
%flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
%flexstart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
%txtdecoration{
    text-decoration: none;
}

@font-face {
    font-family: 'myFont';
    src: url("../fonts/OpenSans-Light.ttf");
}

div {
    font-family: "myFont";
}
  


body{
    margin: 0;
    padding: 0;
}

//navbar & header
.header-nav{
    z-index: -2;
    background: url( '../images/headerback.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 700px;
    .nav-content{
        background-color: rgba(0, 0, 0,0.3);
        z-index: 1;
        min-height: 700px;
        position: relative;
    }
    .navmenu{
        position: relative;
        padding-top: 20px;
         .content {
                position: absolute;
                top: 50%;
                right: 2%;
                //flex: 1;
                z-index: 3;
                transform: translate(-50%, -50%);
                #burger {
                    position: relative;
                    width: 50px;
                    height: 35px;
                    cursor: pointer;
                    &:before {
                        content: '';
                        position: absolute;
                        background-color: $white-color;
                        width: 100%;
                        height: 3px;
                        top: 0;
                        @extend %transition3;

                       
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        background-color: $white-color;
                        width: 100%;
                        height: 3px;
                        bottom: 0;
                        @extend %transition3;

                    }
                    i {
                        opacity: 1;
                        position: absolute;
                        background-color: $white-color;
                        width: 100%;
                        height: 3px;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        @extend %transition3;
                    }
                    &:hover {
                        i {
                            width: 90%;
                            transition: .2S all;
                        }
                    }
                    
                }
                .burgeractive {
                    i {
                        opacity: 0 !important;
                        width: 0% !important;
                    }
                    &:before {
                        top: 50% !important;
                        transform: rotate(45deg);
                        border-radius: 4px;
                        @extend %transition3;
                    }
                    &::after {
                        top: 50% !important;
                        transform: rotate(-45deg);
                        border-radius: 4px;
                        @extend %transition3;
                    }
                }
                @media (min-width:900px) {
                    display: none;
                }
            }
            #navigation{ 
                display: flex;
                .nav-logo{
                    flex:1;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    box-sizing: border-box;
                    cursor: pointer;
                }
            
                 .menu-lists{
                        list-style: none;
                        flex: 1; 
                        display: flex; 
                        margin-top: 1rem;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: center;
                        z-index:2 ;
                        height: 100%;
                        li{
                            display: flex;
                            padding: 15px;
                            a{  
                                font-weight: 600;
                                color: $white-color;
                                flex: 1;
                                @extend %txtdecoration;
                                cursor: pointer;
                                @extend %transition3;
                                &:hover{
                                    color: $green-color;
                                }
                                @media (max-width:900px){
                                    color: $white-color;
                                }
                            }
                        }
                        @media (max-width:768px){
                            flex-direction: column;
                            justify-content: flex-start;
                        }
                        @media (max-width:900px){
                            display: none;
                            background-color: $orange-color;
                            position: fixed;
                            top: -16px;
                            left: 0;
                            width: 100%;
                            height: 100vh;
                            text-align: center;
                            padding-top: 20%;
                        }
        
                    
                }
                .menu-active{
                    display: none;
                }
            
            }
       @media (max-width:768px){
           padding-top: 40px;
       }
    }

    .content-header{
       position: absolute;
       bottom: 15%;
       left:8%;
        .content{
            color: $white-color;
            .content-h3{
                font-size: 40px;
                text-transform: uppercase;
                font-weight: 400;
                .span-h3{
                    color: $green-color;
                }
            }
            .content-h6{
                font-size: 15px;
                margin-left: 60%;
                text-transform: uppercase;
                font-weight: 400;
                .span-h6{
                    color: $orange-color;
                }
            }
        }
    }
    &:before{
        content: '';
        display: block;
        position: absolute;
        bottom: -8%;
        left: 0;
        z-index: 1;
        width: 100%;
        min-height: 150px;
        background-color: $orange-color;
        opacity: 0.4;
        -webkit-clip-path: polygon(0 69%, 100% 14%, 100% 100%, 0 100%);
        clip-path: polygon(0 69%, 100% 14%, 100% 100%, 0 100%);
        background-size: cover;
        @media (max-width:991px) {
            display: none;
        }
    }
}

//startcategory
.fitness-category{
    background-color: $green-color;
    min-height: 1260px;
    position: relative;
    z-index: 2;
    .fitness-cat-sec1{
       padding-top: 100px;
       padding-bottom: 100px;
        z-index: 1;
       .resource{
              padding: 20px 10px;
              @extend %transition3;
            .res-h1{
                font-size: 24px;
                padding-top: 25px;
                padding-bottom: 33px;
                color: $white-color;
            }
            .res-p{
                font-size: 14px;
                padding-bottom: 35px;
                color: $white-color;
            }
            .res-link{
                font-size: 14px;
                padding-bottom: 35px;
                color: $white-color;
                @extend %txtdecoration;
                @extend %transition3;
                
                i{
                    opacity: 0;
                    transform: translateX(-10px);
                    @extend %transition3;
                }
                
            }
            @media (max-width:768px){
                margin-bottom: 5%;
            }
            &:hover{
                -webkit-box-shadow: 0px 5px 31px -4px rgba(255,255,255,1);
                -moz-box-shadow: 0px 5px 31px -4px rgba(255,255,255,1);
                box-shadow: 0px 5px 31px -4px rgba(255,255,255,1);
                border-radius: 5px;
                .res-link{
                    i{
                        opacity:1;
                        transform: translateX(10px);
                    }
                }
            }
      }
    }
    .fitness-cat-sec2{
        .first-txt{
            background-color: $white-color;
            margin: auto 0;
            min-height: 394px;
            @extend %flexcenter;
            .first-txt-content{
                padding-right: 50px;
                padding-left: 50px;
                 .first-txt-h4{
                    text-transform: uppercase;
                    color: $orange-color;
                    font-size: 14px;
                    font-weight: bold;
                }
                .first-txt-h1{
                    text-transform: uppercase;
                    color: $green-color;
                    font-size: 35px;
                }
                .first-txt-img{
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                .first-txt-p{
                    color: $gray-color;
                    font-size: 14px;
                }
                .first-txt-link{
                    color: $green-color;
                    font-size: 14px;
                    cursor: pointer;
                    @extend %txtdecoration;
                    @extend %transition3;
                    &:hover{
                        border-bottom: 1px solid $green-color;
                    }
                }
            }
           
        }
        .first-img{
            z-index: -1;
            background: url( '../images/img3.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            min-height: 394px;
            //position: relative;
            .first-img-h2{
                position: absolute;
                bottom: 40px;
                right: 30px;
                font-size: 12px;
                color: $white-color;
                .user{
                    color: $orange-color;
                  
                } 
                .num{
                    color: $white-color;
                }
            }
           
        }
        .first-img2{
            z-index: -1;
            background: url( '../images/img2.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            min-height: 394px;
            .first-img-h2{
                position: absolute;
                bottom: 40px;
                left: 30px;
                font-size: 12px;
                color: $white-color;
                .user{
                    color: $white-color;
                  
                } 
                .num{
                    color: $white-color;
                }
            }
        }
    }
    @media (max-width:991px) {
        position: inherit;
         z-index: 0;
    }
   
}

.fitness-category-two{
    background-color: $orange-color;
    .fitness-cat2-sec{
        .first-sec{
            z-index: -1;
            background: url( '../images/img1.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            min-height: 330px;
        }
        .cat-sec{
            z-index: -1;
            background: url( '../images/img3.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            min-height: 330px;
            .cat-sec-content{
                color: $white-color;
                display: flex;
                padding-right: 50px;
                padding-left: 50px;
                padding-top: 60px;
                .date{
                    flex: 1;
                    .date-h4{
                     font-size: 14px;
                    }
                }
                .type{
                    .type-p{
                        font-size: 14px;
                       }
                }
            }
        }
        .first-sec2{
            background-color: $white-color;
            margin: auto 0;
            min-height: 330px;
            @extend %flexstart;
            position: relative;
            .first-txt2{
                @extend %flexcenter;
                .first-txt-content{
                    padding-right: 50px;
                    padding-left: 50px;
                     .first-txt-h4{
                        text-transform: uppercase;
                        color: $orange-color;
                        font-size: 14px;
                        font-weight: bold;
                        }
                    .first-txt-h1{
                        text-transform: uppercase;
                        color: $green-color;
                        font-size: 35px;
                    }
                    .first-txt-img{
                       position: absolute;
                       top: 50px;
                       right: 30px;
                       i{
                           color: $gray-color;
                       }
                    }
                    .first-txt-p{
                        color: $gray-color;
                        font-size: 14px;
                    }
                    .first-txt-link{
                        color: $green-color;
                        font-size: 14px;
                        cursor: pointer;
                        @extend %txtdecoration;
                        @extend %transition3;
                        &:hover{
                            border-bottom: 1px solid $green-color;
                        }
                    }
                }
            }
        }
        .first-sub-sec{
            background-color: $green-color;
            .first-txt2{
                @extend %flexstart;
                .first-txt-content{
                    padding-right: 50px;
                    padding-left: 50px;
                     .first-txt-h4{
                        text-transform: uppercase;
                        color: $white-color;
                        font-size: 40px;
                     }
                     .first-txt-p{
                        color: $white-color;
                        font-size: 14px;
                    }
                }
            }
        }
        
        .cat-sec2{
            z-index: -1;
            background-color: $green-color;
            //background: url( '../images/img3.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            min-height: 330px;
            .cat-sec2-content{
                color: $white-color;
                padding-right: 50px;
                padding-left: 50px;
                padding-top: 60px;
               .cat-h1{
                   color: $white-color;
                   text-transform: uppercase;
                   padding-bottom: 30px;
                   font-size: 40px;
               }
               .cat-p{
                color: $white-color;
                font-size:14px;
               }
            }
        }
        .firts-sec3{
            z-index: -1;
            background: url( '../images/img4.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            min-height: 330px;
        }
        .cat-sec3{
            z-index: -1;
            background: url( '../images/img6.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            min-height: 330px;
        }
        .track-sec{
            background-color: $green-color;
            color: $white-color;
            .first-txt2{
                @extend %flexcenter;
                .first-txt-content{
                    padding-right: 50px;
                    padding-left: 50px;
                     .first-txt-h4{
                        color: $white-color;
                        }
                    .first-txt-h1{
                        color: $white-color;
                    }
                    
                    .first-txt-p{
                        color: $white-color;
                    }
                    
                }
            }
        }
    }
}
//end category

//topfooter
.top-footer{
    z-index: -1;
    background: url( '../images/footerback.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 720px;
    .content-footer{
        background-color: rgba(0, 0, 0,0.15);
    }
    .footer-content{
        @extend %flexcenter;
        min-height: 720px;
       .content{
            .footer-h1{
                font-size: 45px;
                color: $white-color;
            }
            .footer-p{
                font-size: 16px;
                color: $white-color;
                max-width: 600px;
            }
        }
        
    }
    
}

//footer
.footer-site{
    background-color: $dark-blue-color;
    padding-bottom: 490px;
    padding-top: 190px;
    color: $white-color;
    position: relative;
    &:before{
        content: '';
        display: block;
        position: absolute;
        top: -8%;
        left: 0;
        z-index: 0;
        width: 100%;
        min-height: 100px;
        background-color: $dark-blue-color;
        -webkit-clip-path: polygon(50% 71%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
        clip-path: polygon(50% 71%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
        background-size: cover;
        @media (max-width:990px){
            display:none;
        }
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        top: 5%;
        left: 0;
        z-index: 1;
        width: 80%;
        min-height: 70px;
        background-color: $orange-color;
        opacity: 0.7;
        -webkit-clip-path: polygon(0 53%, 100% 100%, 100% 100%, 0 100%);
        clip-path: polygon(0 53%, 100% 100%, 100% 100%, 0 100%);
        background-size: cover;
    }
    .resource{
        .resource-h2{
            font-size: 15px;
            text-transform: capitalize;
            font-weight: 700;
        }
        .resource-p{
            font-size: 14px;
        }
    }
    .about{
        .about-h2{
            font-size: 15px;
            text-transform: capitalize;
            font-weight: 700;
        }
        .about-p{
            font-size: 14px;
        }
    }
    .stay-touch{
        .stay-h2{
            font-size: 15px;
            text-transform: capitalize;
            font-weight: 700;
            margin-bottom: 20px;
        }
        .social-media{
            li{
                    margin-right: 12px;
                    
                    a{
                        color: $white-color;
                    }
                    .tw{
                        background-color: $twitter-color;
                        width: 50px;
                        height: 50px;
                        padding: 10px;
                        border-radius: 50%;
                    }
                    .fb{
                        background-color: $facebook-color;
                    }
                    .ld{
                        background-color: $linked-color;
                    }
                    .yt{
                        background-color: $youtube-color;
                    }
               
            }
        
          
        } 
       
    }


    .news{
        .mail{
            padding-right: 2px ;
            padding-left: 2px ;
           .mailuser{
                height: calc(2.875rem + 2px);
                padding: .5rem 1rem;
                font-size: 14px;
                line-height: 1.5;
                border-radius: .1rem;
                border: none;
                color: $dark-blue-color;
                &:active{
                    outline: none;
                }
           }
        }
        .name{
           .firstname{
                height: calc(2.875rem + 2px);
                padding: .5rem 1rem;
                font-size: 14px;
                line-height: 1.5;
                border-radius: .1rem;
                border: none;
                color: $dark-blue-color ;
                &:focus{
                    border: 0;
                    outline: unset;
                }
                
           }
        }
        .btn-join{
            height: calc(2.875rem + 2px);
            padding: .5rem 1rem;
            font-size: 15px;
            line-height: 1.5;
            border-radius: .1rem;
            min-width: 180px;
            border: none;
            background-color: $green-color;
            color: $white-color;
            &:hover{
                cursor: pointer;
            }
        }
        
        
    }
}

/*scrolltop*/
.scrolltop {
    display: inline-block;
    position: fixed;
    text-align: center;
    margin: auto;
    padding: 12px;
    bottom: 5%;
    right: 4%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $orange-color;
    color: $white-color;
    z-index: 9999;
    @extend %transition3;
    .fa {
        font-size: 23px;
        position: relative;
        text-align: center;
      }
      &:hover{
        color: $white-color;
        cursor: pointer;  
      }
      @media (max-width:768px) {
          bottom:2%;
          right:2%;
      }
      &:hover{
          background-color: $green-color;
      }
  }
 